@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
/*
*{
    border: 1px solid blue;    
}
*/

html {
  scroll-behavior: smooth;
}

body {
    background-color: rgb(30,30,36);/*rgb(18, 18, 18);*/
    color: #faf6f2;
    align-items: center;
    justify-content: center;
    display: column;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

a{
  text-decoration: none;
}

.navbar {
  background-color: rgb(31, 31, 31, 0);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  z-index: 999;
  padding: 5px;
}

.navbar a {
  color: #FAF6F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}



.navbar a:hover {
  background-color: rgb(0, 0, 0, 0.4);
  color: #FAF6F2;
  border-radius: 10px;
}

.navbar.pill {
  position: fixed;
  top: 10px; /* Adjust this value to add space */
  left: 50%;
  transform: translateX(-50%);
  display: flex; /* Use flexbox */
  justify-content: space-evenly; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  width: 80%;
  max-width: 600px;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  background-color: rgba(37, 36, 40, 0.75);
  flex: 1;

}

.navbar.pill a {
  border-radius: 50px; /* Pill shape */
}


.intro-container{
    display: column;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

#occupation{
    color: #bc8ac6;
}

#greetings {
    font-size: 3vw;
}

#typing-text {
    font-size: 7.75vw;
    margin-top: 0; 
}



@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

#cursor {
    animation: blink 1.25s infinite;
    color: rgb(255, 255, 255);
    z-index: 1; /* Lower z-index to prevent it from appearing above the navbar */
    position: relative; /* Make sure it doesn't interfere with the navbar */
}

.about-me {
    background:rgb(30,30,30);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#content{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.25rem; 
}

._string {
    color: rgb(108, 223, 87);
}
  
._object {
    color: #DB3D4E;
}
  
._class {
    color: rgb(112, 198, 177);
}
  
._def {
    color: rgb(12, 63, 238);
}
  
._num {
    color: rgb(218, 159, 65);
}
  
._init {
    color: rgb(220, 220, 175);
}
  
._pera {
    color: rgb(167, 217, 247);
}
  
._bracket {
    color: rgb(255, 255, 0);
}
  

/* CARD CHARACTERISTICS*/
.card {
  perspective: 1000px;
  width: 275px;
  height: 275px; 
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
  margin: 2vw;
}



.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire card */
  border-radius: 15px; /* Rounded corners */
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Rounded corners */
}

.card-back {
  background-color: rgb(41,41,41);
  color: #fff;
  transform: rotateY(180deg);
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.button {
  padding: 10px;
  background-color: rgb(144, 101, 238);
  color: #fff;
  border: none;
  border-radius: 100px;
}

.button:hover {
    background-color: rgb(82, 29, 214)
}

.button-container a{
    text-decoration: none;
}

.card p{
    font-size: 0.75rem;
    margin: 15px;
    text-align: center;
}

/*h2 typing animation*/
#outputContainer {
  white-space: nowrap;
  padding-left: 3vw;
}

.output {
    display: inline-block;
  white-space: pre;
  font-size: 10;
  color: rgb(150, 142, 158);
  font-size: 4vw; 
  font-size: 4vmin;

}

.targetWordContainer {
  padding-left: 3vw;
  padding-top: 5vw;
  text-align: left;
  opacity: 0; /* Initially set to invisible */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.animated-text{
    display: none;
}

/*contact styles*/
.icon-container{
  display: flex;
  align-items: center;
}

.icon{
 width: 4vmin;
 padding: 1vmin;
}

.icon-container p{
  color: rgb(117, 185, 247);
  font-size: 3vmin;
}

#centered-contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.info{
padding-left: 3vmin;
}

#linkedIn:hover .icon {
content: url(img/in-hover.png);
}

#linkedIn:hover .linkedIn {
  color: #0c06f7;
}

#git:hover .icon {
content: url(img/git-hover.png);
}

#git:hover .git{
  color: #0c06f7;
}

#leetcode:hover .icon {
  content: url(img/leetcode-hover.png);
}
  
#leetcode:hover .leetcode{
  color: #0c06f7;
}

#mail:hover .icon {
  content: url(img/mail-hover.png);
}

#mail:hover .mail{
  color: #0c06f7;
}

@media (max-width: 768px) {
  .navbar, .pill, #navbar{
    display: none;
  }
}

/* Desktop mode (Hamburger menu hidden) */
.menu {
  display: none;

}

/* Mobile mode (Hamburger menu visible) */
@media (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    z-index: 1000;
  }

  .menu-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .menu-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 999;
    opacity: 0;
  }

  .menu-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #dcdcdc;
    z-index: 999;
  }

  li a{
    color: #dcdcdc;
  }

  .menu-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .menu-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .menu-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  ul {
    list-style-type: none;
  }

  .menu .menu-items {
    padding-top: 100px;
    background: #18181f;
    z-index: 9999;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    width: 300px;
  }

  a:link {
    text-decoration: none;
  }

  .menu .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    
  }

  .menu-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .menu-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}


