/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Source+Code+Pro&display=swap');

/* Global styles */
html {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  font-family: Arial, sans-serif;
  color: #FAF6F2;
  background: rgb(0, 80, 163);
  background: linear-gradient(180deg, #284B63 0%, #22181C 98%);
}

/* Cursor light */
.cursor-light {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

/* Menu and navigation bar */
.menu {
  position: fixed;
  top: 30px;
  right: 30px;
  display: none;
  z-index: 9999;
  cursor: none;
}

.line {
  width: 20px;
  height: 3px;
  background-color: rgb(188, 171, 255);
  margin: 5px;
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 100px;
  cursor: none;
}

.line.active:nth-child(1) {
  transform: rotate(45deg) translate(3px, 2.75px);
}

.line.active:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -2.75px);
}

.menu-nav-bar {
  display: none;
  background-color: #333;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 30px;
}

.menu-nav-bar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: none;
}

.menu-nav-bar a:hover {
  background-color: #555;
  border-radius: 30px;
}

.menu-nav-bar a.fade-in {
  opacity: 1;
}

/* Navigation bar */
.navbar {
  background-color: rgba(51, 51, 51);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  z-index: 999;
  padding: 5px;
}

.navbar a {
  color: #FAF6F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  cursor: none;
}

a:hover .cursor-light {
  width: 12.5px;
  height: 12.5px;
}

.navbar a:hover {
  background-color: rgb(0, 0, 0, 0.4);
  color: #FAF6F2;
  border-radius: 10px;
}

.navbar.pill {
  position: fixed;
  top: 10px; /* Adjust this value to add space */
  left: 50%;
  transform: translateX(-50%);
  display: flex; /* Use flexbox */
  justify-content: space-evenly; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  width: 80%;
  max-width: 600px;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  background-color: rgba(51, 51, 51, 0.60);
  flex: 1;
}

.navbar.pill a {
  border-radius: 50px; /* Pill shape */
}

/* Section styles */
.section {
  min-height: 100vh;
  padding: 50px;
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF6F2;
}

.intro h1 {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

.intro h2 {
  font-size: 7.75vw;
  text-align: center;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

.typed-text {
  color: #bc8ac6;
}

.typed-cursor {
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.about-me {
  background: rgb(20, 18, 27);
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-me .content {
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Code Pro', monospace;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-size: calc(15px + 0.25vw);
}

.subtitle {
  display: block;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Code Pro', monospace;
  color: rgb(150, 142, 158);
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: clamp(2vw, 14, 100%);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#cursor {
  animation: blink 1s infinite;
  color: rgb(255, 255, 255);
}

._string {
  color: rgb(108, 223, 87);
}

._object {
  color: rgb(210, 58, 80);
}

._class {
  color: rgb(112, 198, 177);
}

._def {
  color: rgb(12, 63, 238);
}

._num {
  color: rgb(218, 159, 65);
}

._init {
  color: rgb(220, 220, 175);
}

._pera {
  color: rgb(167, 217, 247);
}

._bracket {
  color: rgb(255, 255, 0);
}

/* Card styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transform-style: preserve-3d; 
  margin: 2vw;

}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  backface-visibility: hidden;
  transform-style: preserve-3d; 
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
  width: 100%;
  height: 100%;
}

.card-front {
  transform: rotateY(0deg);

}

.card-back {
  transform: rotateY(180deg);
  background-color: rgb(41, 41, 41);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  font-size: 2vw 2vh;
}

.card-back p{
  font-size: 15px;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust the object-fit property as per your preference */
  border-radius: 30px;
}

.card:hover .card-front {
  transform: rotateY(180deg);
  opacity: 0;
}

.card:hover .card-back {
  transform: rotateY(0deg);
  opacity: 1;
}

.card-container .card {
  animation: fade-in 0.5s ease-in-out;
}

.card.card-no-flip:hover .card-front,
.card.card-no-flip:hover .card-back {
  transform: none;
  opacity: 1;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 10px;
  background-color: rgb(144, 101, 238);
  color: #FAF6F2;
  text-decoration: none;
  border-radius: 30px;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Code Pro', monospace;
  cursor: none;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(82, 29, 214);
  color: #fff;
}

/*contact styles*/
.contact {
  margin-bottom: 200px;
}

#txt {
  color: #FAF6F2;
  font-size: calc(20px + 0.1vw);
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  margin-top: 20px;
}

.combine {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.icon {
  margin-right: 10px;
  height: 2.75vw;
  width: 2.75vw;
  min-height: 20px;
  min-width: 20px;
  margin-bottom: 3px;
  border-radius: 0%;
}

.contact a {
  text-decoration: none;
  cursor: none;
}

.container {
  display: flex;
  justify-content: center;
}

.centered-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 0.5vw);
  color: rgb(117, 185, 247);
}


#linkedIn:hover .icon {
content: url(img/in-hover.png);
}

#linkedIn:hover .linkedIn {
  color: #0c06f7;
}

#gitHub:hover .icon {
  content: url(img/git-hover.png);
}
  
#gitHub:hover .gitHub {
    color: #0c06f7;
}

#leetcode:hover .icon {
content: url(img/leetcode-hover.png);
}

#leetcode:hover .leetcode {
  color: #0c06f7;
}

#mail:hover .icon {
  content: url(img/mail-hover.png);
}
  
#mail:hover .mail {
    color: #0c06f7;
}

@media (max-width: 768px) {
  .navbar.pill, .navbar {
    display: none;
  }
  .menu{
    display: block;
  }

  .contact p {
    display: none;
  }
  .icon {
  height: 10vw;
  width: 10vw;
  }
}
